// html,
// body {
//   height: 100%;
// }

body {
  align-items: center;
  padding-bottom: 40px;
  margin: 0;
  padding: 0;
}

.formText {
  height: '100px'
}

.alert {
  position: inherit;
  z-index: 1;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 120px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.background {
  position : absolute;
  display : block ;
  top : 0;
  left: 0;
  z-index : 0;
}  
