.navbar-style {
    align-items: center;
}

.link-active {
    background-color: #ebffe8;
    padding: .2rem .8rem!important;
    border-radius: 2rem;
    color: #000000!important;
    /* transition-property: all!important;
    transition-duration: 2ms!important; */
    transition:
        background-color .5s ease-in-out,
        border-radius .5s ease-in-out,
        padding .5s ease-in-out,
        color .5s ease-in-out,
        !important;
}

.link {
    border-radius: 2rem;
    padding: .2rem .8rem!important;
}