h1{
    text-align: center;
}
/* body{
    padding: 0px 25px;
} */
td{
    vertical-align: top;
}
.logo{
    width:35px;
}
.logo-bar{
    background-color:oldlace;
    border-style:hidden hidden hidden solid;
    border-width: medium;
}
.title-col{
    font-weight: bold;
    color: steelblue;
}

